
autom4te.cache/

*.o

build/src/CTEM

*.mod

*.swp


build/

configure

config/

examples/global-lunar-bombardment/.DS_Store

examples/mare-with-rays-model2/.DS_Store

__pycache__/

*.dat

*.png

*.DS_Store

examples/mare-with-rays-model2/CTEM
