*
!src/
!src/*/
!*.f90
!src/globals/module_globals.f90.in
!.gitignore
!CMakeLists.txt
!distclean.cmake
!README.md
!version.txt
!ctem/
!ctem/**.py
!cmake/Modules/*.cmake
!*.bash

!pyproject.toml
!LICENSE
!tests/
!tests/**.py 
!tests/ctem.in
!tests/NPFextrap.dat
!tests/lunar-MBA-impactor-velocities.dat