*.jpg
*.png
surface_*
*cumulative.dat
testprofile.dat
production.dat
*dist*.dat
ejecta_*.dat
ctem.dat
output_psd.txt
rego*.dat
impactmass.dat
fracdone.dat
craterscale.dat
avgkdiff.dat
craterlist.dat
*_0*.dat
ctem_io_readers.py
ctem_io_writers.py
*.DS_Store